/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.global-wrapper {
  margin: 1em auto;
  padding: 1em;
  max-width: 45em;
  background-color: silver;

  .global-header {
    font-weight: bold;
    font-size: larger;
    margin-bottom: 1em;
    text-align: center;
  }
}
